/* Admin */

.btn_exit_admin{
	position: absolute;
	top: 0;
	right: 0;
}
	.btn_exit_admin button{
		font-size: 20px;
		background-color: #FFC7C7;
		border-color: #FF8585;
	}
.admin_panel_projects{
	position: fixed;
	z-index: 1;
	top: 200px;
	left: 10px;
}
	.admin_panel_projects button{
		display: block;
		margin: 15px 0;
		font-size: 30px;
		color: white;
		background-color: #7676D0;
		border-color: #4444FF;
		padding: 2px 10px;
		border-radius: 5px;
	}
.container_admin_project{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 20px;
}
	.container_admin_project textarea{
		width: 80%;
		height: 200px;
	}
	.container_admin_project input{
		width: 80%;
	}
#submit_add_project, #submit_update_project{
	font-size: 20px;
}


/* Sign in admin */

#error_msg{
	opacity: 0;
	font-size: 25px;
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px 20px;
	width: 500px;
	margin: 0 auto;
	font-family: 'Exo 2', sans-serif;
}
.container_signin_admin{
	font-size: 25px;
	font-family: 'Exo 2', sans-serif;
	width: 500px;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 50px auto;
}
	.container_signin_admin p>input{
		display: inline-block;
		width: 80%;
		font-size: 25px;
	}
	.container_signin_admin p>button{
		font-size: 25px;
		font-family: 'Exo 2', sans-serif;
	}
	#submit_signin_admin{
		position: relative;
		margin-left: 50%;
		width: 100px;
		left: -50px;
	}